/* Home Page Footer Part */

.footer{
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    margin-top: -4px; 
}

.footer > .logo-footer img{
    width: 350px;
    height: 100%;
    margin-top: 5px;
    padding-top: 25px; 
    /* filter: brightness(50%); 
    opacity: 0.5; */
   
    /* padding-top: 5px;
    padding-bottom: 5px; */
    /* margin: 5px; */
    /* background: whitesmoke; */
}


.footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
    
}

.footer > .footer-phone-hours > .hours {
    font-size: 1em;
    color: #cea135;
    text-transform: uppercase;
}

.footer > .links-wrapper{
      
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
  
}

.footer > .social-media-icons-wrapper {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    /* word-spacing: 3px;
        */
}

.footer > .social-media-icons-wrapper a{
    font-size: 01.2em;
    color: #cbcbcb;
    transition: 0.5s;
 
}

.footer > .social-media-icons-wrapper a:hover {
    color: #cea135;
    
}


.footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}

